body {
	
 /*background: url(http://f.otzyv.ru/f/09/05/29993/9181/1408122131333.jpg) no-repeat;*/
 background-position: center;
 background-color:#FFF;
 width:1200px; 
 margin:auto;

}

#logo{	
    margin-right: 10px;}
	
#right_sign{	
     float: right;}


#Krahe{    
	display: inline}
	
#nav_container {
    list-style-type:none;
    margin-bottom: 15px;
	background: grey;
	height: 35px;}


#nav_container > li{
    display: inline-block;
    text-decoration: none;}



#nav_container > li > a{
	display: inline-block;
	padding:5px;}



#nav_container > li > a:hover{
	background: green;}






